<div id="Navigation">
	{{!-- {{{ Desktop View --}}
	<div class="main-nav mobile-hidden">
		<div class="left">
			<nav>
				<ul class="nav">
					<li class="parent">
						<p class="trigger">{{#link-to 'index' class="main-link"}}Recent{{/link-to}}</p>
						<div class="child">
							<div class="sub-nav">
								<a class="" href="#">Recent subnav</a>
							</div>
						</div>
					</li>
					<li class="parent">
						<p class="trigger">{{#link-to 'index' class="main-link"}}Articles{{/link-to}}</p>
						<div class="child">
							<div class="sub-nav">
								<a class="" href="#">Articles subnav</a>
							</div>
						</div>
					</li>					
					<li class="parent">
						<p class="trigger">{{#link-to 'index' class="main-link"}}Videos{{/link-to}}</p>
						<div class="child">
							<div class="sub-nav">
								<a class="" href="#">Videos subnav</a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
		<div class="center">
    	<div class="logo">

      </div>
		</div>
		<div class="right">
			<div class="user-tools">
				<p>Search</p>
				<a href="">User/Login</a>
			</div>
		</div>
	</div>
	{{!-- }}} // Desktop View --}}

 	{{!-- {{{ Mobile View --}}
	<div class="mobile-nav mobile-view">
	
	</div>
	{{!-- }}} // Mobile View --}}
</div>
