<footer id="Footer">
	<div class="main-footer mobile-hidden">
		<div class="lead">
			<h1>THE LATEST AND GREATEST CONTENT<br>ONE INJECTION AWAY</h1>
		</div>
		<div class="social">
			<div class="social-media">
				<a class="social-icon-link" target="_blank" href="https://www.youtube.com/">
					<img class="social-icon" alt="Youtube" src="http://placehold.it/50x50">
				</a>
				<a class="social-icon-link" target="_blank" href="https://www.twitch.com/">
					<img class="social-icon" alt="Twitch" src="http://placehold.it/50x50">
				</a>
				<a class="social-icon-link" target="_blank" href="https://www.facebook.com/" >
					<img class="social-icon" alt="Facebook" src="http://placehold.it/50x50">
				</a>
				<a class="social-icon-link" target="_blank" href="https://www.twitter.com/">		
					<img class="social-icon" alt="Twitter" src="http://placehold.it/50x50">
				</a>
				<a class="social-icon-link"  target="_blank" href="https://www.instagram.com/">
					<img class="social-icon" alt="Instagram" src="http://placehold.it/50x50">
				</a>
			</div>
			<div class="subscribe">
				<form class="sub-form pull-right" >
					{{input type="email" class="" required="true" placeholder="Enter your email address"}}
					<button class="button small darkGray" {{action}} >Subscribe</button>
				</form>
			</div>
		</div>
	</div>
	<div class="mobile-footer mobile-view">

	</div>
</footer>