/******************************
/** 		Infectious Nerve
	   - Primary Stylesheet - 
/******************************/

/* Initialization: Stylesheet Reset 
		http: //meyerweb.com/eric/tools/css/reset/ 
   	v2.0 | 20110126
   	License: none (public domain)
*/
@charset "UTF-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video  {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; 
	font-family: 'Helvetica';}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  { display: block; }
body  { line-height: 1; }
ol, ul  { list-style: none; }
blockquote, q  {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after  {	content: ''; content: none; }
table  {	border-collapse: collapse; border-spacing: 0; }
button:focus {outline: 0;}
* { box-sizing: border-box; }

/* Global Constants */
/*$white: 				rgba(255, 255, 255, 1);*/
$offwhite:						rgba(248, 248, 248, 1);
$infectious_red: 	rgba(90, 19, 17, 1);
$light_blue: 			rgba(60, 181, 250, 1);
$light_green: 		rgba(129, 249, 59, 1);
$black: 					rgba(0, 0, 0, 1);
$dark_gray:				rgba(34, 34, 34, 1);
$light_gray:      rgba(241, 242, 242, 1);

/* Imports */
@import "helpers/fonts";
@import "helpers/buttons";
@import "helpers/animate";

/* Global Styles */
*.pull-right{ float: right; }
*.pull-left{ float: left; }
*.clickable{ cursor: pointer; }

.clearfix:after,
.clearfix:before {
  content: "";
  display: table; }
.clearfix:after { clear: both; }


@media only screen and (min-width: 500px) {
	.mobile-view{ display: none; }
}
@media only screen and (max-width: 500px) {
	.main-view{ display: none; }
}

a {
color:$light_blue;
text-decoration:none;
  &.underlined{
    position:relative;
    &:before{
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: -2px;
      background: #000;
      height: 2px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover, &:focus, &:active{
      border-bottom-color:transparent;
      &:before{
        left: 0;
        right: 0;
      }
    }
  }
}


div#Navigation{
	z-index: 1;
	height: 70px;
	background-color: white;
	border-bottom: 1px solid #eee;
	/*box-shadow: 0px .5px 20px .1px $infectious_red;*/
	div.main-nav{
		height: 70px;
    width: 100%;
		padding-left: 60px;
		padding-right: 60px;
    position: fixed;
    background-color: white;
		ul.nav{
			margin: 0;
			padding: 0;
			text-align: center;
			list-style: none;
			display: inline;
    	li.parent{
      	display: inline-block;
      	padding: 0px 20px;
      	cursor: pointer;
      	p.trigger { 
      		padding: 28px 0px;
        	font-weight: 500;
        	position: relative;
        	padding-left:0;
        	a.main-link { 
        		color: $dark_gray;
            padding-bottom: 3px;
        	}
      	}
     		&:hover{
        	a.main-link{
          	border-bottom: 2px solid $infectious_red;
        	}
        	div.child{ display: block; }
      	}
      	div.child{
      		top: 71px;
      		left: 0px;
      		width: 100%;
      		height: 250px;
      		display: none;
    			position: absolute;
      		background-color: $offwhite;
      		&:hover{ display:block; }
          .sub-nav{
            width:100%;
            height:100%;
            padding:25px;
            text-align: left;
            -webkit-box-shadow: 1px 13px 20px -4px rgba(0,0,0,0.22);
            -moz-box-shadow: 1px 13px 20px -4px rgba(0,0,0,0.22);
            box-shadow: 1px 13px 20px -4px rgba(0,0,0,0.22);
          }
      	}

    	}
		}
		div.logo{

		}
		div.user-tools{
			display: inline-block;
		}
	}
	.left{
    width:50%;
    display:inline-block;
  }
  .center{
  	top:0;
  	left:0;
  	right:0;
  	bottom:0;
    width:180px;
    height:25px;
    position:absolute;
    margin:auto;
    z-index: 1000;
    background-color: $infectious_red;
  }
  .right{
    width:49.4%;
    display:inline-block;
    text-align:right;
  }
}

footer#Footer{
	bottom: 0px;
  width: 100%;
  height: 400px;
  padding: 0;
 // position:absolute;
  background-color: $dark_gray;
  div.lead{
    width:100%;
    height: auto;
    padding: 10px 25px;
    background-color: $offwhite;
    text-align: center;
    h1{
      color: $infectious_red;
      font-size: 2.5rem;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 3.5rem;
    }
  }
  div.social{
  	width: 100%;
  	height: 70px;
    white-space: nowrap;
  	padding: 10px 0px;
  	background-color: $infectious_red;
    -webkit-box-shadow: 5px 9px 43px -10px rgba(0,0,0,1);
    -moz-box-shadow: 5px 9px 43px -10px rgba(0,0,0,1);
    box-shadow: 5px 9px 43px -10px rgba(0,0,0,1);
  	div.social-media{
  		width: 50%;
  		height: 100%;
  		display: inline-block;
      margin: 0;
      line-height: 0;
      padding: 0px 25px;
	  	a.social-icon-link{
	  		border-radius: 25px;
		  	img.social-icon{
		  		width: 50px;
		  		height: 50px;
		  		font-size: .7em;
					line-height: 40px;
		  		margin-right: 12.5px;
          -webkit-box-shadow: 5px 9px 43px -10px rgba(0,0,0,1);
          -moz-box-shadow: 5px 9px 43px -10px rgba(0,0,0,1);
          box-shadow: 5px 9px 43px -10px rgba(0,0,0,1);
		  	}
	  	}
	  }
	  div.subscribe{
	  	width: 50%;
  		height: 100%;
  		display: inline-block;
      padding: 0px 25px;
  		form.sub-form{
        padding:3px 0px;
        input{ 
          font-size: 1rem;
          border: none;
          width:250px;
          height: 40px;
          padding: 10px;
          float:left;
        }
        button{ font-size: 1rem; }
  		}
	  }
  }
}


//*************************************//
//            Jumbotron
//*************************************//
div.jumbotron{
  width: 100%;
  color: red;
  height: 100%;
  div.hero-home{
    height: 518.60px;
    background-color: red;
  }
  div.jumbotron-footer{
    width: 100%;
    height: 250px;
    background-color: black;
  }
}
