<div class="error-banner">
	<div class="content">
      {{#link-to 'index' class=""}}Bring Me Home{{/link-to}}
      <p>Need to get in touch?
      	<a class="link" href="javascript:;" >Contact us</a>
      </p>
	</div>
</div>
